In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv('../Dataset/Digit Recognition/train.csv')
test = pd.read_csv('../Dataset/Digit Recognition/test.csv')

In [4]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
selected = test.columns

X=train[selected]
y=train['label']

In [24]:
#Scaling Data

X = X/255

In [27]:
# Test Data

x_test = test[selected]

x_test = x_test/255

# Using SVM

In [25]:
from sklearn.svm import SVC
model = SVC(verbose=3)
model.fit(X,y)

[LibSVM]

SVC(verbose=3)

In [28]:
model.score(X,y)

0.9891428571428571

# ANN

In [29]:
from sklearn.neural_network import MLPClassifier

In [30]:
modelnn = MLPClassifier(hidden_layer_sizes=(100,),
    activation='relu')

In [31]:
modelnn.fit(X,y)

MLPClassifier()

In [32]:
modelnn.score(X,y)

1.0

In [33]:
y_test = modelnn.predict(x_test)

In [124]:

def store_file(y_test):
    
    test['Label'] = y_test

    test['Label'].to_csv('../Dataset/Digit Recognition/Digit_pre2.csv',index_label='ImageId')

    sub = pd.read_csv('../Dataset/Digit Recognition/Digit_pre2.csv')
    sub['ImageId']+=1

    sub.to_csv('../Dataset/Digit Recognition/Final.csv',index=False)

#  Siranchi Method

In [62]:
from tensorflow.keras.utils import to_categorical

y_train = to_categorical(y,num_classes=10)
y_train

array([[0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [66]:

from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

models = Sequential()
models.add(Dense(100,activation='relu',input_shape=(784,)))
models.add(Dense(50,activation='relu'))

#Final Layer of 10 Digit
models.add(Dense(10,activation='softmax'))

In [68]:
models.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 100)               78500
_________________________________________________________________
dense_3 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_4 (Dense)              (None, 10)                510
=================================================================
Total params: 84,060
Trainable params: 84,060
Non-trainable params: 0
_________________________________________________________________

In [72]:
models.compile(loss='categorical_crossentropy',metrics=['accuracy'])
models.fit(X,y_train,epochs=10,batch_size=64)

Epoch 1/10
657/657 [==============================] - 2s 3ms/step - loss: 0.1271 - accuracy: 0.9618: 0s - loss: 0.1301 - ac
Epoch 2/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0931 - accuracy: 0.9720
Epoch 3/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0716 - accuracy: 0.9785
Epoch 4/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0597 - accuracy: 0.9825
Epoch 5/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0486 - accuracy: 0.9856
Epoch 6/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0409 - accuracy: 0.9881
Epoch 7/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0329 - accuracy: 0.9902
Epoch 8/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0281 - accuracy: 0.9912
Epoch 9/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0241 - accuracy: 0.9929
Epoch 10/10
657/657 [==============================] - 2s 3ms/step - loss: 0.0209 - accuracy: 0.9939

In [117]:
y_test = models.predict(x_test)

In [119]:
l1=[]
for i in range(len(y_test)):
    temp = y_test[i].argmax()
    l1.append(temp)
    
#0.9739

In [125]:
store_file(l1)